.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem 2rem;
  background: var(--nav-bg);
  border-bottom: 1px solid var(--border-light);
}

.naya-logo{
  width:1.1rem;
  height:1.1rem;
}