.navbar{
  /* background-color: rgb(253, 219, 219); */
  display: flex;
  justify-content: space-between;
  padding: .3rem 2rem;
  background: rgb(246, 246, 246);
  border-bottom: 1px solid rgb(210, 210, 210);
}