.whiteboard-container{
  display: flex;
  justify-content: space-around;
  background: var(--whiteboard-bg);
  padding: 2rem;
}



.username{
  color: var(--gray);
  font-weight: 500;
  font-size: .8rem;
}

.user-color{
  width: 1rem;
}

.user-color-name{
  display: flex;
  align-items: center;
  gap: .5rem;
}

#user-color {
  -webkit-appearance: none;
  border: none;
  border-radius: 10px;
  width: 2rem;
  height: 2rem;
}

#user-color::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
}
#user-color::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}

.btn{
  border: 1px solid var(--primary-color);
  background-color:  var(--primary-light);
  padding: .7rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  background-color:  var(--primary-color);
  color: white;
}